/**
 * ----------------------------------------------------------------------------
 * This file is part of PageRankChecker.
 * 
 * PageRankChecker is free software: you can redistribute it and/or modify it under
 * the terms of the GNU General Public License as published by the Free Software
 * Foundation, either version 3 of the License, or (at your option) any later
 * version.
 * 
 * PageRankChecker is distributed in the hope that it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
 * A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License along with
 * PageRankChecker. If not, see <http://www.gnu.org/licenses/>.
 * 
 * ----------------------------------------------------------------------------
 * 
 * Git revision information:
 * 
 * @version:	0.2.1-alfa-0-g97f584c $
 * @commit:		819d3ee82127c1fb9fd8deff56771b2cd96690d0 $
 * @author:		Eugen Mihailescu <eugenmihailescux@gmail.com> $
 * @date:		Fri Jan 31 22:26:06 2014 +0100 $
 * @file:		style.css $
 * 
 * @id:	style.css | Fri Jan 31 22:26:06 2014 +0100 | Eugen Mihailescu  $
 * 
 */
@CHARSET "UTF-8";

a:link {
	text-decoration: none;
	color: #FFFFFF;
} /* unvisited link */
a:visited {
	text-decoration: none;
	color: #FFFFFF;
} /* visited link */
a:hover {
	font-weight: bold;
	color: #F2F2F2;
} /* mouse over link */
a:active {
	font-weight: bold;
	color: #F2F2F2;
} /* selected link */
.a-yellow:link {
	text-decoration: none;
	color: #000000;
} /* unvisited link */
.a-yellow:visited {
	text-decoration: none;
	color: #000000;
} /* visited link */
.a-yellow:hover {
	font-weight: bold;
	color: #FF0000;
} /* mouse over link */
.a-yellow:active {
	font-weight: bold;
	color: #FF0000;
} /* selected link */
.button {
	color: white;
	background-color: #06b6d5;
}

.button:hover {
	background-color: #f8694d;
	color: white;
}

table,.inner-table {
	border-collapse: collapse;
	border: 1px solid #A4A4A4;
	border-spacing: 0px;
}

.inner-table {
	border: 0px;
}

.table-header,.table-header-centered-cell,.table-header-left-cell,.cnt {
	background-color: #E6E6E6;
	font-weight: bold;
	color: black;
	padding: 10px;
}

.table-header-centered-cell {
	text-align: center;
}

.table-header-left-cell {
	text-align: left;
}

.red-table-centered-cell,.red-table-left-cell,.green-table-centered-cell,.green-table-left-cell,.orange-table-centered-cell,.orange-table-left-cell,.yellow-table-centered-cell,.yellow-table-left-cell,.black-table-centered-cell,.black-table-left-cell
	{
	color: white;
}

.red-table-centered-cell,.red-table-left-cell {
	background-color: red;
}

.green-table-centered-cell,.green-table-left-cell {
	background-color: green;
}

.orange-table-centered-cell,.orange-table-left-cell {
	background-color: orange;
	color: black;
}

.yellow-table-centered-cell,.yellow-table-left-cell {
	background-color: yellow;
	color: black;
}

.black-table-centered-cell,.black-table-left-cell {
	background-color: black;
}

.red-table-centered-cell,.green-table-centered-cell,.orange-table-centered-cell,.yellow-table-centered-cell,.black-table-centered-cell
	{
	text-align: center;
}

.red-table-left-cell,.green-table-left-cell,.orange-table-left-cell,.yellow-table-left-cell,.black-table-left-cell
	{
	text-align: left;
}

.result,.form,.title,.error {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

td.last {
	width: 1px;
	white-space: nowrap;
}

.error {
	background-color: yellow;
	color: red;
	font-weight: bold;
}

.form {
	background-color: #E6E6E6;
	color: black;
	padding: 10px;
	border-spacing: 10px;
	border-collapse: separate;
}

.keyword {
	padding: 0px;
	text-align: left;
}

.cnt {
	padding: 0px;
	text-align: center;
}